html, body, nav, section, div{
    font-family: Helvetica;
}
#body{
    background: #C72481 0% 0% no-repeat padding-box;
    color: #fff;
}
header{
    background-color: #fff;
    width: 100vw;

}
.docs{
    color: #fff;
}
hr{
    background: #fff;
    border: 2px solid #fff;
}
.nav-icon{

left: 140px;
width: 264px;
height: 45px;
text-align: left;
font: bold 38px/46px Helvetica;
letter-spacing: 0px;
color:  #C72481;
opacity: 1;

/* font-family: Muli; */
}
.modal-body{
    background: #C72481 0% 0% no-repeat padding-box;
    color: #fff; 
}
.message{
min-height: 200px;
font-weight: bold;
}
.message-body{
    font-weight: bold;
   
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: white;
    z-index: 2;
    border-top: 1px solid #e5e5e5;
    font-weight: bolder;
}
.btn{
    width: 180px;
    border-radius: 5px;
    font-family: Nunito;
    font-size: larger;
    height: 50px;
    border: none;
    outline: none;
}
button:active{
    outline: none !important;
    border: none !important;
}
button{
    outline: none !important;
    border: none !important;
}
.btn-link{
    border-radius: 50%;
    border: 1px solid black;
    width: 35px !important;
    height: 35px !important;
    font-size: larger;
    font-weight: bolder;
    background-color: #e5e5e5;
}
.controls{
    display: grid;
    grid-template-columns: 3fr 1fr;
}

@media screen and (max-width: 1199px) {
    .controls{
        grid-template-columns: 2fr 1fr;
    }
  }

  @media screen and (max-width: 991px) {
    .controls{
        grid-template-columns: 3fr 2fr;
    }
    .message-body{
        font-weight: lighter;
        
    }
    .message, .siema{
        height:auto !important;
  
        }
  }
  @media screen and (max-width: 767px) {
    .controls{
        grid-template-columns: 1fr 1fr;
        
    }
    .btn{
        width: 100px;
    }
    
    /* .add-details{
        display: flex;
        flex-direction: column-reverse;
    } */

    .btn-link{
        
        width: 30px !important;
        height: 30px !important;
        margin: 2px;
    }
    /* .btn{
        width: 40vw;
    }
    .btn-link{
        width: 30px !important;
        height: 30px !important;
        font-size: larger;
    }
    .add-details{
        display: flex;
        flex-wrap: wrap-reverse;
    } */
  }
  @media screen and (max-width: 470px) {
    .controls{
        grid-template-columns: 1fr;
        
    }
    .btn{
        width: 40vw;
    }
    .btn-add{
        width: 72vw;
    }
}