<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TellingYourKids</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href='https://fonts.googleapis.com/css?family=Muli' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/loader.css">
    


    <!-- <link rel="stylesheet" href="~/css/site.css" /> -->
</head>
<body id="body">
    <header id="header">
       <!-- <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">TellingYourKids</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>-->

 

        <nav id="nav1" class="p-2">
            <div></div>
            <a asp-area="" asp-controller="Home" asp-action="index"> 
                <h1 class="closebtn">&#10005</h1>
            </a> 
        </nav>
   
  
        @* <nav class="container  py-4" id="nav" style="display:flex; flex-wrap:wrap">
            <a class="navbar-brand nav-icon" href="/"><img src="images/twohalflogo2.png" alt="">    </a>
               <h4 class="bold-pink mt-3 fontweight-bold ">What We Are Telling Our Kids About 2020 by Two Half Stories</h4> 
        </nav> *@
      


          <nav id="nav" class="container navbar navbar-expand-lg text-md-center">
            <div class="d-flex ">
                <a class="navbar-brand nav-ico " href="index.html"><img src="images/LogoTwoHalf.svg" style="height: 70px" alt="">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupprtedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                     <a style="color:#C72481; font-weight: bolder;" class="nav-link h5  abt" asp-area="" asp-controller="Home" asp-action="about">About </a>
      
                  </button>
            </div>
           
            <h4 style="color:#C72481; font-weight:bolder " class="mr-5 h5 txt">What We Are Telling Our Kids About 2020 by Two Half Stories</h4>
            




              <div class="collapse navbar-collapse" id="navbarSupportedContent" style="float: right;">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                    <a asp-area="" asp-controller="Home" asp-action="about" style="color:#C72481; font-weight: bolder; float:right" class="nav-link h5 ml-5" >About <span class="sr-only">(current)</span></a>
                  </li>
                 
                </ul>
               
              </div>
        </nav>

    </header>
 
        
            @RenderBody()
       
   

    @* <footer id="footer" class="border-top footer text-muted" >
        <div class="container">
            &copy; 2020 - TellingYourKids - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer> *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
   <script src="~/js/mordernizer.js" asp-append-version="true"></script>
   <script src="~/js/loaderjquery.min.js" asp-append-version="true"></script>
   <script src="~/js/loader.js" asp-append-version="true"></script>
  
      

     

    @RenderSection("Scripts", required: false)

  
</body>
</html>
