    <link rel="stylesheet" href="~/css/add_message.css">
   <style>
       #nav{
           display: none !important;
       }
   </style>
 


    <main class="container text-center">
        <h1 class="h1 font-weight-bolder">About</h1>
        <h5 class="font-weight-lighter">2020 has been an interesting year to say the least. Looking at the rollercoaster ride, the uncertainty, anxiety and all the change this year has brought with it, we asked a couple of friends what they will tell their kids about 2020. There are humorous, reflective and interesting answers.
            
            
            <br>
            <br>
            We invite you to include your own answer and flick through the answers on the platform. You never know, you may find your soul mate.</h5>
        <br>
        <br>
        <h5>
            Initiator: Toyin Jolapamo <br>
           
            UI Design: Nnaemeka Otti
            <br> Web Developer: Major
        </h5>
<br>
<br><a asp-area="" asp-controller="Home" asp-action="index"> 
<button type="button" class="btn btn-dark m-1 next">Return </button>
</a>
    </main>


    <!-- footer -->
    <!-- <footer class="footer">

        &copy; TellingOurKids 2020.


    </footer> -->
    <!-- loader -->
    <div class="se-pre-con"></div>
    <!-- Ends -->

 

    <!-- typed js -->
    <script src="~/js/typedjsjquery.js" asp-append-version="true"></script>
    <script src="~/js/typed.min.js" asp-append-version="true"></script>
    <script src="~/js/typed.js" asp-append-version="true"></script>
    <script>
        window.addEventListener('load', (()=>{
            document.getElementById('story').focus()
        }))
        document.getElementById("nav").style.display="none"
         document.getElementById("footer").style.display="none"
        
    </script>