@model IEnumerable<TellingYourKids.Models.PostDtos.PostOutputDto>

@{
    ViewData["Title"] = "Home Page";
}

<!--<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p id="home">Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>-->
<link rel="stylesheet" href="~/css/index.css">

<main id="main" class="container mt-5">

    <section class="siema">

        @foreach (var item in Model)
        {
            <!-- Display from DB -->
            <section class="message">
                <h2 class="message-body h2 " id="myPost">

                    @Html.DisplayFor(modelItem => item.Story)

                </h2>
                <h4 class="pt-3 docs">
                    <span class="Poster"> @Html.DisplayFor(modelItem => item.Name) </span> |
                    <span class="location">@Html.DisplayFor(modelItem => item.Location) </span> |
                    <span class="duration">@Html.DisplayFor(modelItem => item.Date)</span>
                </h4>
            </section>
        }

    </section>
    <!-- end of message -->

    <hr>

    <section class="controls mt-5 mt-sm-1 ">
        <div class="control-btn">
            <button type="button" class="btn btn-dark m-1 prev"> Previous</button>
            <button type="button" class="btn btn-dark m-1 next">Next </button>
        </div>

        <div class="add-details">
            <button type="button" class="btn btn-link m-1" data-toggle="modal" data-target="#details">?</button>
            <a asp-area="" asp-controller="Home" asp-action="add_story">
                <button type="button" class="btn btn-dark btn-add m-1" data-toggle="modal"
                        data-target="#ad">
                    Add
                </button>
            </a>
        </div>

    </section>
</main>
<br>
<!-- footer -->
<!-- <footer class="footer">

    &copy; TellingOurKids 2020.


</footer> -->
<!-- modal box for details -->
<section>

    <div class="modal fade" id="details" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h5 class="modal-title" id="exampleModalLabel">
                        <h4>
                            <i class="fa fa-hand-o-right"></i> swipe
                            <i class="fa fa-arrow-left"></i>
                            <i class="fa fa-hand-pointer-o"></i>
                            <i class="fa fa-arrow-right"></i>
                            or click <b>Previous</b> / <b>Next</b> buttons to view people's stories.
                        </h4>
                        <hr>
                        <h4>
                            <i class="fa fa-hand-o-right"></i> Click the <b>Add</b> button to add your own story
                        </h4>


                    </h5>
                </div>

            </div>
        </div>
    </div>



    <!-- loader -->
    <div class="se-pre-con"></div>
    <!-- Ends -->
</section>

<script src="~/lib/siama/siama.js" asp-append-version="true"></script>
<script src="~/js/siema.js" asp-append-version="true"></script>

<script>
    document.getElementById("nav1").style.display = "none"
</script>